/*universal styles*/

* {
    margin: 0;
    padding: 0;
    
  }
  
  html {
    font-size: 16px;
   
  }

  a {
    text-decoration: none;
  }

  body {

    display: flex;

    flex-direction: column;

    min-height: 100vh;

}

  /*Navigation Bar*/

  #logo-link {
    background-color: lightgray;
  }


  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #logo {
    font-family: Pacifico;
    text-decoration: none;
    color: hsl(225, 80%, 50%);
    font-size: 5rem;
    display: inline-block;
    line-height: 1;
    position: relative;
    bottom: 1rem;
    background-color: transparent;
  } 
  
  #logo:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }

  #logo-mobile {
    font-family: Pacifico;
    text-decoration: none;
    color: hsl(225, 80%, 50%);
    font-size: 3rem;
    position: relative;
    bottom: 1rem;
    display: inline-block;
    line-height: 1;
    background-color: transparent;
  }
  
  .link {
    line-height: 1.6;
    font-size: 1rem;
    color: #FFFAF0;
    text-decoration: none;
    font-family: "Merriweather";
    min-width: 8rem;
    margin: 1rem;
    background-color: transparent;

  }
  
  nav a:hover {
    color: skyblue;
    transition: color 400ms linear;
  }
  
  
  nav a:active {
    color: black;
  }
  
  #logo:active {
    opacity: 1;
  }

  #mobile {
    display: none;
  }
  
  
  @media only screen and (max-width: 800px) {
    #desktop{
      display: none;
    }
  
  
    #mobile {
      display: flex;
      justify-content: space-around;
      align-content: center;
      width: 100%;
      height: 5rem;
      z-index: 1;
      position: fixed;
      padding: 1rem;
    }
  
    #mobile img {
      width: 4rem;
      height: 4rem;
      z-index: 1;
      margin-top: 0.5rem;
    }
  
  
  }
 
  /*products*/

  .main {
    width: 100%;
  }

  #products-section {
    max-width: 60%;
    padding: 3rem;
    margin: 0 auto;
    
  }
  
  #products-cta {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 3rem;
    background-color: #F0F8FF;
    line-height: 2rem;
    border-radius: 1rem;
    font-family: Roboto;
    margin: 0 auto;
  }
  
  #products-cta p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 800;
  }

  .features {
    margin: 1rem 0.5rem;
  }

  .features li {
    margin-bottom: 0.5rem
  }
  
  .price {
    font-size: 1.2rem;
    padding: 1rem 0rem;
  }
  
  .button {
    font-size: 1rem;
    background: linear-gradient(135deg, #4CAF50, #8BC34A);
    padding: 1em 3em;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    width: 100%;
    border: none;
  }

  .button a {
    color: inherit;
  }

  
  .button:hover {
    opacity: 0.9;
  }
  
  #products-cta button:active {
    position: relative;
    top: 5px;
  }
  
  #products-cta li {
    text-align: left;
    font-size: 1rem;
  }
  
  /*Footer*/
  .footer {
    display: flex;
    background-color: #343434;
    padding: 2rem 1rem;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }

  .copy {
    padding-right: 1rem;
    font-size: 1rem;
    max-width: 50%;
    color: #565656;
  }

  .tospp a{
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #565656;
  }
  